div {position: absolute;
    margin: 0px;}
body {line-height: 5vh;}
#day-transparent {
    background: linear-gradient(0.25turn, transparent, rgba(107, 87, 70, 0.8), transparent);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    white-space: nowrap;
    position: absolute;
    left: 0px;
}

#management-panel {
    left: 0px;
    width: 40vw;
    height: 100vh;
    top: 0px;
}
#management-fade {
    width: 10vw;
    height: 100vh;
    top: 0px;
    background: linear-gradient(to right, rgba(6, 6, 12, 0.5), transparent);
}
#text-cont {
    font-size: 1.8vw;
    padding-left: 35px;
}
.progress-bar {
    width: 80%;
    background-color: rgba(135, 110, 70, 0.1);
    height: 1.82vh;
    border-radius: 15px;
}
.progress-bar-status {
    background: rgb(107, 87, 70);
    width: 10vw;
    height: 100%;
    border-radius: 15px;
}
#day-cont {
    height: 8vh;
    font-size: 7vh;
    left: 7%;
    width: 90%;
    display: flex;
    align-items: center;
}
.management-button {
    border-radius: 30px;
    height: 8vh;
    font-size: 2vw;
    border: 5px solid rgb(107, 87, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}
#money {
    height: 70px;
    width: 370px;
    font-size: 40px;
    text-align: right;
}
#combat-panel {
    left: 0px;
    width: 100vw;
    height: 30vw;
    background: rgba(6, 6, 12, 0.7);
    font-size: 30px;
}
#combat-fade {
    width: 100vw;
    height: 150px;
    left: 0px;
    background: linear-gradient(to top, rgba(6, 6, 12, 0.7), transparent);
}
#party-panel {
    left: 0px;
    height: 30vw;
    width: 16vw;
    line-height: 40px;
    font-size: 24px;
    margin-left: 15px;
}
#skill-panel {
    height: 30vw;
    width: 30vw;
    line-height: 35px;
    font-size: 24px;
}
#panel-line {
    height: 30vw;
    width: 1.6vw;
    background: linear-gradient(to top, rgb(107, 87, 70), transparent);
}
#ally-store {
    width: 85%;
    height: 100%;
    text-align: center;
    font-size: 3vw;
    margin: 2vh;
}